.App{
  text-align: center;
  justify-content: center;
}
.container{

}
.input{
  margin: 10px;
  padding: 10px;
}
.name{
  border: 3px solid red;
  height: 30px;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}
.email{
  border: 3px solid red;
  height: 30px;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}
.password{
  border: 3px solid red;
  height: 30px;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}
::placeholder{
  color: rgb(95, 60, 199);
}
.btn{
  border: 3px solid red;
  border-radius: 20px;
  font-size: 20px;
  width: 15%;
  opacity: 0.8;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.btn:hover{
  background-color: black;
  
}
btn:active{
  background-color: rgb(174, 226, 21);
  color: grey;
}